@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* main-container */
.main-container {
  width: 100%;
  height: 100vh;
}
/* container */
.container {
  width: 100%;
  min-height: 100%;
  background-image: url(./image/banner.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* h1-heading */
.h1-heading {
  /* border: 1px solid snow; */
  color: red;
  padding: 10px;
  margin-left: 50px;
  padding-top: 10px;
  font-size: 42px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}
.languages {
  margin-top: -52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 89px;
}
.langs {
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: 1px solid white;
  color: white;
  background: transparent;
  text-align: center;
  border-radius: 5px;
}
.option {
  background-color: gray;
}
.sign-btn {
  background-color: #e50914;
  color: white;
  height: 40px;
  width: 90px;
  font-size: 18px;
  margin-left: 30px;
  border-radius: 5px;
}
select,
button {
  font-size: inherit;
}
.middle-item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-para-1 {
  margin-top: 170px;
  font-size: 62px;
  font-weight: bold;
}
.middle-para-2 {
  margin-top: -5px;
  font-size: 57px;
  font-weight: bold;
}
.middle-para-3 {
  margin-top: 5px;
  font-size: 28px;
  font-weight: 500;
}
.middle-para-4 {
  margin-top: 28px;
  font-size: 20px;
  font-weight: 500;
}
.email-box {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-box-1 {
  width: 490px;
  height: 70px;
  font-size: 20px;
  padding: 15px;
}
.email-btn {
  width: 250px;
  height: 70px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  background-color: #e50914;
  border: none;
  color: white;
}
/* section-2 */
.enjoy-on-tv {
  width: 100%;
  height: 72vh;
  background-color: black;
  border-bottom: 1px snow;
}
.small-space {
  height: 8px;
  background-color: gray;
}
.content {
  display: flex;
  flex-direction: row;
}
/* text */
.text {
  color: white;
  width: 50vw;
  height: 72vh;
}
.Enjoy-text-1 {
  margin-left: 130px;
  margin-top: 160px;
  font-size: 54px;
  font-weight: 700;
}
.Enjoy-text-2 {
  margin-top: 20px;
  margin-left: 130px;
  font-size: 30px;
  font-weight: 400;
}
.Enjoy-text-3 {
  margin-left: 130px;
  font-size: 30px;
  font-weight: 400;
}
/* tv */
.tv-pic {
  margin-left: 20px;
  margin-top: 15px;
  width: 580px;
  height: 65vh;
  background-position: center;
}
/* section-3 */
.Download-your-shows {
  width: 100%;
  height: 72vh;
  color: white;
  background-color: black;
  border-bottom: 1px snow;
}
.content-1 {
  display: flex;
  flex-direction: row;
}
/* phone-1 */
.phone-1 {
  width: 45%;
  height: 72vh;
  background-image: url(./image/strange-thing-bg.jpg);
  background-repeat: no-repeat;
  background-position: top 20px center;
  background-size: 80%;
}
.poster {
  margin-left: 150px;
  width: 380px;
  height: 100px;
  border: 2px solid gray;
  border-radius: 12px;
  background-color: black;
  margin-top: 300px;
}

.poster-pic {
  margin-left: 15px;
  height: 100px;
  padding: 5px;
  background-image: url(./image/strange-thing-poster.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15%;
}
.poster-text-1 {
  margin-top: 25px;
  margin-left: 80px;
  font-size: 18px;
  font-size: 400;
}
.poster-text-2 {
  margin-left: 80px;
  color: blue;
  font-size: 18px;
  font-size: 400;
}

/* downloade-text */
.downloaded-text {
  width: 55%;
  height: 70vh;
}
.downloaded-text-1 {
  margin-left: 100px;
  margin-top: 150px;
  font-size: 58px;
  font-weight: 600;
}
.downloaded-text-2 {
  margin-left: 100px;
  font-size: 58px;
  font-weight: 600;
}
.downloaded-text-3 {
  margin-top: 20px;
  margin-left: 100px;
  font-size: 28px;
  font-weight: 400;
}

.downloaded-text-4 {
  margin-left: 100px;
  font-size: 28px;
  font-weight: 400;
}
/* section-4 */
.Watch-everywhere {
  width: 100%;
  height: 72vh;
  background-color: black;
  border-bottom: 1px snow;
}

.content-watch {
  display: flex;
  flex-direction: row;
}
/* text */
.text {
  color: white;
  width: 50vw;
  height: 72vh;
}
.watch-text-1 {
  margin-left: 130px;
  margin-top: 200px;
  font-size: 54px;
  font-weight: 700;
}
.watch-text-2 {
  margin-top: 20px;
  margin-left: 130px;
  font-size: 30px;
  font-weight: 400;
}
.watch-text-3 {
  margin-left: 130px;
  font-size: 30px;
  font-weight: 400;
}

.devices-pic {
  margin-left: 30px;
  margin-top: 30px;
  width: 600px;
  height: 60vh;
  background-position: center;
}

/* section-5 */
.Create-profiles-for-children {
  width: 100%;
  height: 72vh;
  background-color: black;
  border-bottom: 1px snow;
}
.content-children {
  display: flex;
  flex-direction: row;
}

/* /* phone-1 */
.phone-1 {
  width: 45%;
  height: 72vh;
  background-image: url(./image/strange-thing-bg.jpg);
  background-repeat: no-repeat;
  background-position: top 20px center;
  background-size: 80%;
}
/* children-pic */
.children-1 {
  margin-top: 20px;
  margin-left: 30px;
  width: 48%;
  height: 72vh;
  background-image: url(./image/childern.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
/*children-text */
.children-text {
  color: white;
  width: 48%;
  height: 70vh;
}
.children-text-1 {
  margin-top: 150px;
  font-size: 58px;
  font-weight: 600;
}
.children-text-2 {
  font-size: 58px;
  font-weight: 600;
}
.children-text-3 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 400;
}

.children-text-4 {
  font-size: 28px;
  font-weight: 400;
}

/* section-6 */
.Frequently-Asked-Questions {
  width: 100%;
  height: 135vh;
  background-color: black;
  border-bottom: 1px snow;
}
.frequently {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* margin-left: 420px; */
  font-size: 54px;
  font-weight: 800;
  margin-top: 80px;
}
/* summary-box */
.summary-box {
  color: white;
}
/* summary::marker{
    marker: none;
}
summary::after{
    content: "+";
} */
/* details >summary::webkit-details-marker{
    display: none;
} */
/* summary-1 */
.su1 {
  margin-left: 290px;
  margin-top: 40px;
  border: 1px solid #303030;
  border-bottom: 1px solid black;
  font-size: 30px;
  width: 920px;
  height: 80px;
  padding: 20px;
  background-color: #303030;
}
.su1p {
  border: 1px solid #303030;
  width: 920px;
  height: 310px;
  margin-left: 290px;
  font-size: 28px;
  background-color: #303030;
}
.su1p :nth-child(1) {
  margin-top: 25px;
  margin-left: 32px;
}
.su1p :nth-child(2) {
  margin-top: 25px;
  margin-left: 32px;
}
/* summary-2 */
.su2 {
  margin-left: 290px;
  margin-top: 10px;
  border: 1px solid #303030;
  border-bottom: 1px solid black;
  font-size: 30px;
  width: 920px;
  height: 80px;
  padding: 20px;
  background-color: #303030;
}
.su2p {
  border: 1px solid #303030;
  width: 920px;
  height: 150px;
  margin-left: 290px;
  font-size: 28px;
  background-color: #303030;
}
.su2p :nth-child(1) {
  margin-top: 25px;
  margin-left: 32px;
}
/* summary-3 */
.su3 {
  margin-left: 290px;
  margin-top: 10px;
  border: 1px solid #303030;
  border-bottom: 1px solid black;
  font-size: 30px;
  width: 920px;
  height: 80px;
  padding: 20px;
  background-color: #303030;
}
.su3p {
  border: 1px solid #303030;
  width: 920px;
  height: 370px;
  margin-left: 290px;
  font-size: 28px;
  background-color: #303030;
}
.su3p :nth-child(1) {
  margin-top: 25px;
  margin-left: 32px;
}
.su3p :nth-child(2) {
  margin-top: 25px;
  margin-left: 32px;
}

/* summary-4 */
.su4 {
  margin-left: 290px;
  margin-top: 10px;
  border: 1px solid #303030;
  border-bottom: 1px solid black;
  font-size: 30px;
  width: 920px;
  height: 80px;
  padding: 20px;
  background-color: #303030;
}
.su4p {
  border: 1px solid #303030;
  width: 920px;
  height: 175px;
  margin-left: 290px;
  font-size: 28px;
  background-color: #303030;
}
.su4p :nth-child(1) {
  margin-top: 25px;
  margin-left: 32px;
}
/* summary-5 */
.su5 {
  margin-left: 290px;
  margin-top: 10px;
  border: 1px solid #303030;
  border-bottom: 1px solid black;
  font-size: 30px;
  width: 920px;
  height: 80px;
  padding: 20px;
  background-color: #303030;
}
.su5p {
  border: 1px solid #303030;
  width: 920px;
  height: 150px;
  margin-left: 290px;
  font-size: 28px;
  background-color: #303030;
}
.su5p :nth-child(1) {
  margin-top: 25px;
  margin-left: 32px;
}
/* summary-6 */
.su6 {
  margin-left: 290px;
  margin-top: 10px;
  border: 1px solid #303030;
  border-bottom: 1px solid black;
  font-size: 30px;
  width: 920px;
  height: 80px;
  padding: 20px;
  background-color: #303030;
}
.su6p {
  border: 1px solid #303030;
  width: 920px;
  height: 265px;
  margin-left: 290px;
  font-size: 28px;
  background-color: #303030;
}
.su6p :nth-child(1) {
  margin-top: 25px;
  margin-left: 32px;
}
.su6p :nth-child(2) {
  margin-top: 25px;
  margin-left: 32px;
}
/* footer email box  */
.footer-para {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 22px;
  font-weight: 500;
}

.foot-email-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-email-box-1 {
  width: 490px;
  height: 70px;
  font-size: 20px;
  padding: 15px;
}
.foot-email-btn {
  width: 250px;
  height: 70px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  background-color: #e50914;
  border: none;
  color: white;
}

/* section-7 */
.footer-box {
  width: 100%;
  height: 62vh;
  background-color: black;
  border-bottom: 1px snow;
}
.footer-main {
  color: #999;
  display: flex;
  flex-direction: column;
}
.question {
  margin-left: 250px;
  margin-top: 95px;
  font-size: 18px;
}
.footer-links {
  margin-top: 30px;
  margin-left: 250px;
  width: 850px;
  /* border: 1px solid snow; */
  display: flex;
  flex-direction: column;
}
.f1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.f2 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.jobs {
  margin-left: 95px;
}
.watch {
  margin-left: 240px;
}
.terms {
  margin-left: 150px;
}
.f3 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.cookie {
  margin-left: 168px;
}
.corp {
  margin-left: 140px;
}
.cont {
  margin-left: 100px;
}

.f4 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.notice {
  margin-left: 140px;
}
.only {
  margin-left: 180px;
}
footer a {
  color: #999;
  text-decoration: none;
}
footer a:visited {
  color: #999;
}
footer a:hover,
a:focus {
  color: #999;
  text-decoration: underline;
}

/* footer language box */
.foot-lang {
  margin-left: 250px;
  margin-top: 50px;
}

.option {
  background-color: black;
}
.ft-lang {
  width: 130px;
  height: 50px;
  font-size: 18px;
  border: 1px solid #999;
  color: #999;
  background: transparent;
  text-align: center;
  border-radius: 5px;
}
.netflix-india {
  color: #999;
  margin-left: 250px;
  margin-top: 20px;
}
